# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/.vscode
/session.cookie
.DS_Store
cpu.prof
mem.prof
pprof-list.txt

/benchmarks/results
/benchmarks/benchmarks.md

input.txt
example*.txt
